.header-container {
    height: 187px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: transparent;
    padding-top: 25px;

    > div > img {
        width: 200px;
    }
}