<h1 class="title">{{ title }}</h1>
<p class="subtitle">{{ subtitle }}</p>
<form class="form-signin" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <h2 class="form-signin__heading">{{ formTitle }}</h2>
  <div
    class="form-signin__input"
    [ngClass]="{ invalid: submitted && username.errors }"
  >
    <input
      class="form-control"
      type="text"
      formControlName="username"
      [placeholder]="userPlaceholder"
      required
      autofocus
    />
    <fa-icon [icon]="faUser" class="fa-light" size="lg"></fa-icon>
  </div>
  <div
    class="form-signin__input"
    [ngClass]="{ invalid: submitted && password.errors }"
  >
    <input
      class="form-control"
      type="password"
      formControlName="password"
      [placeholder]="passwordPlaceholder"
      required
    />
    <fa-icon [icon]="faLock" size="lg"></fa-icon>
  </div>
  <div class="form-signin__error-message">
    <p
      *ngIf="
        invalidCredentials ||
        (submitted && (username.errors || password.errors))
      "
    >
      Ops, usuário ou senha inválidos.<br />
      Tente novamente!
    </p>
  </div>
  <button class="form-signin__button">{{ buttonName }}</button>
</form>
