.title {
  font-family: "Mark Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 76px;
  color: #e0e0e0;
  margin-bottom: 0;
}

.subtitle {
  margin-bottom: 135px;
  width: 300px;
  font-family: "Mark Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #e0e0e0;
}

.form-signin {
  display: flex;
  flex-direction: column;
  max-width: 379px;

  &__heading {
    font-family: "Mark Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    color: #e0e0e0;
    margin: 0;
  }

  &__input {
    height: 60px;
    margin-top: 32px;
    font-family: "Mark Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    background: transparent;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    border-radius: 50px;
    color: #e0e0e0;
    padding-left: 20px;
  }

  .invalid {
    border-color: #e9b425;
  }

  &__error-message {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    margin-top: 28px;

    > p {
      font-family: "Mark Pro";
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      color: #e9b425;
    }
  }

  &__button {
    height: 67px;
    background: linear-gradient(90deg, #ff2d04 0%, #c13216 100%);
    box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.15);
    border-radius: 50px;
    border: 0;
    font-family: "Mark Pro";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #ffffff;
    margin-top: 47px;
    cursor: pointer;
    transition: filter 0.2s;

    &:hover {
      filter: brightness(0.9);
    }
  }
}

@media (min-width: 1200px) {
}
