/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Montserrat:wght@500&family=Poppins&family=Space+Mono:wght@400;700&display=swap");
@import url("http://fonts.cdnfonts.com/css/mark-pro");

html,
body {
  border: 0;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  background-color: #ffffff;
}

* {
  box-sizing: border-box;
}

.cmp-custom-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__header {
    display: flex;
    align-items: center;
    height: 100px;
  }

  &__main {
    margin-top: 130px;
    margin-bottom: 200px;
  }

  &__footer {
    display: flex;
    align-items: center;
  }
}

.cmp-button {
  width: 216px;
  height: 68px;
  background: #333333;

  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;

  letter-spacing: -0.035em;
  text-transform: uppercase;
  color: #ffffff;

  cursor: pointer;
  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.9);
  }
}

.cmp-custom-header {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
}

.cmp-custom-image {
  > div > img {
    background-size: cover;
  }
}

.cmp-custom-image__logo {
  display: flex;
  justify-content: center;

  > div > img {
    width: 200px;
  }
}

.cmp-custom-image__logo-background {
  > div > img {
    max-width: 824px;
    background-size: cover;
  }
}

.cmp-background {
  &__gray {
    background: linear-gradient(180deg, #33383d 0%, #1c1d20 100%);
    box-shadow: 4px 4px 70px rgba(0, 0, 0, 0.25);
  }
}

// Home page
core-container-v1.home-container__main {
  //height: 700px;
  display: flex;
  flex-direction: row;
}

.home-container__image {
  display: flex;
  //height: 700px;
  //position: relative;

  > div > img {
    //position: absolute;
    max-width: 500px;
    bottom: 0;
  }
}

.home-text-family__poppins {
  font-family: "Poppins";
  font-style: normal;
}

.home-text-color__red {
  color: #C12D18;
}

.home-text-color__black {
  color: #222222;
}

.home-text-size__small {
  font-size: 24px;
}

.home-text-size__medium {
  font-size: 36px;
}

.home-text-size__large {
  font-size: 64px;
}

.home-text-weight__regular {
  font-weight: 400;
}

.home-text-weight__bold {
  font-weight: 700;
}

@media (max-height: 1200px) {
  .cmp-custom-container {
    height: 100vh;
  }

  .cmp-custom-image {
    > div > img {
      height: 100vh;
      object-fit: cover;
    }
  }
}

@media (max-height: 450px) {
  .cmp-custom-image {
    > div > img {
      display: none;
    }
  }
}

@media (max-width: 390px) {
  .cmp-container__header {
    height: 60px;
  }

  .cmp-container__main {
    margin-top: 64px;
    margin-bottom: 60px;
  }
}

@media (max-width: 500px) {
  .cmp-container__main {
    margin-top: 54px;
    margin-bottom: 50px;
  }
}

@media (max-width: 1200px) {
  .cmp-custom-image {
    > div > img {
      display: none;
    }
  }
}
